<!DOCTYPE html>
<html lang="en">
@@include('_head.html')

<body>

    @@include('../blocks/modules/header/_header.html')

    @@include('../blocks/modules/about/_about.html')

    @@include('../blocks/modules/works/_works.html')

    @@include('../blocks/modules/services/_services.html')

    @@include('../blocks/modules/team/_team.html')

    @@include('../blocks/modules/partners/_partners.html')

    @@include('../blocks/modules/logos/_logos.html')

    @@include('../blocks/modules/contact/_contact.html')

    @@include('../blocks/modules/footer/_footer.html')

    @@include('_js.html')

</body>
</html>