.contact {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // .contact__inner

    &__inner {
        @include flex;
        @media(max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    // .contact__item

    &__item {
        min-height: 460px;
        background-color: rgba($form-bg, .71);
    }

    // .contact__form

    &__form {
        width: 614px / $container * 100%;
        box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
        padding: 47px 33px 38px 31px;
        @media(max-width: 991px) {
            width: 49%;
        }
        @media(max-width: 767px) {
            width: 100%;
            margin-bottom: 30px;
            padding: 30px;
            min-height: auto;
        }
    }

    // .contact__address

    &__address {
        width: 500px / $container * 100%;
        box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
        padding: 36px 23px 19px 22px;
        font-family: $raleway;
        font-size: 15px;
        line-height: 24px;
        color: rgba(#ffffff, .7);
        @include column;
        justify-content: space-between;
        @media(max-width: 991px) {
            width: 49%;
        }
        @media(max-width: 767px) {
            width: 100%;
            padding: 20px;
        }
    }
}

.form {

    // .form__input

    &__input {
        width: 100%;
        background-color: transparent;
        font-family: $raleway;
        font-size: 15px;
        color: rgba(#ffffff, .6);
        border: none;
        border-bottom: 1px solid #fff;
        padding: 0 4px 15px;
        margin-bottom: 30px;
        outline: none;
        &::placeholder {
            color: rgba(#ffffff, .6);
        }
        @media(max-width: 575px) {
            font-size: 14px;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
    }

    // .form__textarea

    &__textarea {
        border: none;
        border-bottom: 1px solid #fff;
        padding-bottom: 90px;
        @media(max-width: 575px) {
            padding-bottom: 10px;
        }
    }

    // .form__btn

    &__btn {
        border-radius: 2px;
        background-color: #6eeee4;
        padding: 20px 37px;
        font-size: 18px;
        letter-spacing: 2.16px;
        text-transform: uppercase;
        text-align: center;
        color: rgba(#000, .7);
        @media(max-width: 575px) {
            width: 100%;
            padding: 15px;
            font-size: 15px;
            font-weight: 700;
        }
    }
}
