.footer {

    padding: 93px 0;
    background-color: #262b2e;
    text-align: center;
    font-family: $raleway;
    font-size: 16px;
    line-height: 25px;
    color: #fff;

    @media(max-width: 991px) {
        padding: 70px 0;
    }

    @media(max-width: 767px) {
        padding: 50px 0;
    }

    @media(max-width: 575px) {
        padding: 30px 0;
    }

    // .footer__title

    &__title {
        opacity: .8;
        margin-bottom: 19px;
    }

    // .footer__socials

    &__socials {
        display: flex;
        justify-content: center;
        margin-bottom: 43px;
    }

    // .footer__social-item

    &__social-item {
        width: 46px;
        height: 40px;
        background-color: rgba(#8a8a8a, .4);
        margin: 0 3.5px;
        transition: .3s all;
        i {
            color: #faf4f4;
            transition: .3s all;
        }
        &:hover {
            background-color: #71f6eb;
            i {
                color: rgba(#000, .95);
            }
        }
    }

    // .footer__social-link
    
    &__social-link {
        width: 100%;
        height: 100%;
        @include center;
    }

    // .footer__copyright

    &__copyright {
        font-weight: 500;
        letter-spacing: 0.16px;
        opacity: .4;
    }
}
