// colors
$accent: #71f6eb;
$slick-dot: #d0d0d0;
$form-bg: #021623;

$gutter: 15px; // grid-gap
$radius: 3px;
$container: 1140px;

// fonts
$raleway: 'Raleway', sans-serif;
$weather: 'Merriweather', serif;
